.player {
  height: 100vh;
  background: #181818;
  border-radius: 18px;
  box-shadow: 0 4px 16px #0003;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.player img {
  width: 38px;
  height: 38px;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 16px;
  transition: transform 0.15s;
  position: absolute;
  top: 40px;
}
.player img:hover {
  transform: scale(1.09) translateX(-3px);
}

.player iframe {
  margin-bottom: 20px;
  border-radius: 10px;
  background: #111;
}

.player .player-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.player p {
  margin: 0 6px;
  font-size: 1.09em;
}
